# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Data files (especially large ones)
data/raw/
data/processed/


# Environment/config files
.env
*.env

# System files
.DS_Store
Thumbs.db
desktop.ini

# VS Code project settings (if using VS Code)
.vscode/

# Log files
*.log

# Ignore virtual environments (adjust folder name if needed)
venv/
env/
ECHO is on.
